@page "{correct}/{total}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<H3>@ViewData["Title"]</H3>
<p>You got @Model.CorrectAnswersCount out of total @Model.TotalAnswersCount</p>